.bookmark {
  fill: var(--lightest-color);
  background-color: var(--light-color);
  border: 2px solid var(--lightest-color);
  border-radius: 50px;
  padding: 4px;
  height: 60px;
  width: 60px;
}

.question__bookmark {
  position: absolute;
  top: -15px;
  right: 5%;
}

@media (prefers-color-scheme: dark) {
  .bookmark {
    fill: var(--darkest-color);
    background-color: var(--lightest-color);
    border: 2px solid var(--lightest-color);
  }
}
