/* colors: dark pink (#B02D59), medium pink(#D76F91), light color(#F9F9F9) */
body {
  background-image: url(./images/Polygon_Luminary_BS.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
