.input-field {
  min-height: 15vh;
  min-width: 70vw;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  border-top: 4px inset var(--darkest-color);
  background-color: #f8f1f7a9;
  box-shadow: 2px 5px 5px #b02d59;
}

::placeholder {
  color: ;
}
