.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 20px;
  margin: auto;
}

.form__add-question,
.form__add-answer,
.form__add-tags {
  display: flex;
  flex-direction: column;
  width: 50vw;
  color: var(--darkest-color);
}

.input-field {
  min-height: 15vh;
  text-decoration: none;
  border-top: 4px solid var(--darkest-color);
  background-color: #f8f1f7a9;
  color: var(--darkest-color);
  border-radius: 5px;
  border-bottom: 4px solid var(--darkest-color);
  border-right: none;
  border-left: none;
}

::placeholder {
  color: var(--darkest-color);
  font-family: inherit;
}

@media (prefers-color-scheme: dark) {
  ::placeholder {
    color: var(--lightest-color);
  }

  .input-field {
    color: var(--lightest-color);
  }
}
