.nav__top {
  text-align: center;
  background-color: var(--darkest-color);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 8vh;
  width: 100vw;
  z-index: 50;
  color: var(--lightest-color);
}
.nav__list {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 8vh;
  width: 101vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  background-color: var(--darkest-color);
}

.nav__list_item {
  border-right: 2px solid var(--lightest-color);
}

.nav__top__title {
  vertical-align: center;
  padding: 2px;
  font-size: 2.5rem;
}
